body{
    background-image: url("https://source.unsplash.com/random/?nature");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: larger;
}
#form{
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff597a4f;
    border-radius: 2rem;
    padding: clamp(0.6rem,0.8rem,1.2rem);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .4s ease-in-out;
}
.form_elements{
    margin: 2vh;
    padding: 0.4vh;
    font-size: larger;
}
.log{
    border-radius: 6vh;
    padding: 2vh;
    border: 0;
    background-color: #a1c298;
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input{
    border-radius: 1rem;
    border: 0;
    padding: 1.2vh;
    background-color: #ffc3a1;
    outline: none;
}
.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width:425px){
    body{
        background-image: url("shreya.jpeg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.interactive{
    transition: all .4s ease-in;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.interactive:hover{
    transform: scale(1.08);
}
.input::placeholder{
    font-size: larger;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
}
#form:hover{
    background-color: #ff597a8f;
}